# {{ header }}
Panels:
  - Class: rviz_common/Displays
    Name: Displays
  - Class: rviz_common/Views
    Name: Views
Visualization Manager:
  Class: ""
  Displays:
    - Class: rviz_default_plugins/Grid
      Enabled: true
      Name: Grid
      Plane Cell Count: 20
      Reference Frame: <Fixed Frame>
    - Class: rviz_default_plugins/TF
      Enabled: true
      Name: TF
      Show Arrows: false
      Show Axes: true
      Show Names: true
    - Class: rviz_default_plugins/RobotModel
      Enabled: true
      Name: RobotModel
      Description Source: Topic
      Description Topic:
        Durability Policy: Transient Local
        Reliability Policy: Reliable
        Value: /robot_description
      Visual Enabled: true
      Collision Enabled: false
  Global Options:
    Background Color: 12; 12; 14
    Fixed Frame: base_link
    Frame Rate: 30
  Name: root
  Tools:
    - Class: rviz_default_plugins/MoveCamera
    - Class: rviz_default_plugins/Select
    - Class: rviz_default_plugins/FocusCamera
    - Class: rviz_default_plugins/Measure
  Value: true
  Views:
    Current:
      Class: rviz_default_plugins/Orbit
      Distance: {{ ([r.chassis.length, r.chassis.width]|max * 4)|f4 }}
      Focal Point:
        X: 0
        Y: 0
        Z: 0
      Name: Current View
      Pitch: 0.55
      Yaw: 0.85
    Saved: ~
Window Geometry:
  Height: 900
  Width: 1400
